extends layout

block content
	h1 Jouer les sons
	#container 
		div 
			<!-- input(type='button', value='Play', id='play')
			input(type='range', min='0', max='100', value='80', id='volume')
			br--
			div#oscillator1
				input(type='button', value='osc1', class='osc')
				input(type='range', min='0', max='100', value='80', class='osc_vol')
				input(type='range', min='20', max='3000', value='200', class='osc_freq')
				select(class='osc_type')
					option(value='0') sin
					option(value='1') sqr
					option(value='2') Saw
					option(value='3') Tri

			div#oscillator2
				input(type='button', value='osc2', class='osc')
				input(type='range', min='0', max='100', value='80', class='osc_vol')
				input(type='range', min='20', max='3000', value='200', class='osc_freq')
				select(class='osc_type')
					option(value='0') sin
					option(value='1') sqr
					option(value='2') Saw
					option(value='3') Tri

			#enveloppe
				input(type='range', min='0', max='1000', value='1', id='enveloppe_attack', class='vertical')
				input(type='range', min='0', max='1000', value='1', id='enveloppe_decay', class='vertical')
				input(type='range', min='0', max='1000', value='1', id='enveloppe_sustain', class='vertical')
				input(type='range', min='0', max='1000', value='10', id='enveloppe_release', class='vertical')
			#keyboard