doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/keyboard.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/audio.js')
    script(type='text/javascript', src='/javascripts/enveloppe.js')
    script(type='text/javascript', src='/javascripts/oscillator.js')
    script(type='text/javascript', src='/javascripts/keyboard.js')
    script(type='text/javascript', src='/javascripts/buffer-loader.js')
  body
    block content